.img-src {
  height: 198px;
}
.main-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.product-card {
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 0px 12px 0px rgb(255, 196, 252);
}
.product-card:hover {
  box-shadow: 5px 6px 6px 2px #ffc1ff;
  transform: scale(1.1);
}
.button {
  border-radius: 20px;
  text-transform: uppercase;
  margin: 5px;
  padding: 7px 20px;
  width: 100%;
  font-weight: 600;
  border: 2px solid pink;
}
.button_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide{
visibility: hidden;
}